.dashboard-page{

    display: flex;
    height:auto;


}

.dash-left{
    width: 25%;
    height: auto;
    border: 1px solid black;
    background-color: rgb(192, 188, 188);



}


.dash-right{
    width: 75%;
    border: 1px solid black;
    height: auto;

}

.dash-right .top-info-div {
    display:  flex;
    justify-content: space-between;
}
.dash-right .top-info-div div{
     border: 1px solid black;
     width: 30%;
     height: 40px;
     background-color: purple;
     margin-top: 90px;
     margin-right: 10px;
     margin-left: 10px;

     

}

.main-detail-wrapper{

    margin:20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rebeccapurple;
}

.main-detail-wrapper>div{
    height: 400px;
    border: 1px solid green;
    background-color: aliceblue;

}
