.dashboard-page{

    height:auto;

    margin-top: 70px;
}




.dash-right{
    width: auto;
    border: 1px solid black;
    height: auto;
    margin: auto;


}

.dash-right .top-info-div {
    display:  flex;
    justify-content: space-between;
    background-color: rgb(177, 166, 166);
    height: 80px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 12px;
    width: 95%;
    margin: auto;
    margin-top: 10px;



}
.dash-right .top-info-div div{
     /* border: 1px solid black; */
     width: 200px;
     height: 80px;
     background-color: purple;

     

}

.main-detail-wrapper{

    margin:20px;
    width: auto;
    display: flex;
    height: auto;

}


.main-detail-wrapper h4{
    text-align: center;
}
.alluserDetails{
    width: auto;
}
.allproducts-wrapper-aa{
    width: 100%;
   
}
.allproducts-a{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;


}
.allproducts-a>div{
   border: 1px solid black;
   width: auto;
   background-color: white;
   padding: 0px 10px 10px 10px;
   border-radius:12px 0px 12px 0px;

}