.cart-section{
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
    margin-top: 150px;
   

    justify-content: space-between;
    display: flex;
    justify-content: space-between;
  
}
