.main-shoes{
    /* background-color: red; */
    min-height: 100vh;
    max-height: auto;
    padding-top: 105px;
   

}
.main-shoes .main-shoes-wrapper{
    display: flex;
}

.main-shoes .main-shoes-left{
    width: 20%;
    min-height: 100vh;
    max-height: auto;
    background-color: rgb(170, 165, 165);

}
.main-shoes-left-inner-wrapper{
     height: 400px;
     width: 90%;
     margin: auto;
     position: fixed;
     width: 20%;
}

.left-cct{
    margin-top: 5px;
    font-size: 14px;
    padding: 5px;
    outline-color: #ff4e5c;
    border-radius: 0px 12px 0px 12px;
    border: 1px solid grey;
    width: 100%;
    margin-top: 10px;

}



.main-shoes .main-shoes-right{
     width: 80%;
  
}

.main-shoes .shoes-container{
     width: 95%;
     position: inherit;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 20px;
     margin-left: 20px;
     margin-top: 10px;

}

.pagination-div{
    /* background-color: red; */
    width: 20%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

.pagination-div button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid grey;
    background-color: rgb(224, 214, 214);


}



