.sign_up{
    width: 95%;
    height: 80vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.s-image{
    width: 60%;

}
.s-form{
    width: 40%;
}
#sform-form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 100px;

}
#sform-form p{
    margin-top: -10px;
    margin-left: 2px;
}
#sform-form input{
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid grey;
    padding:0px 0px 5px;
    outline: none;

}

#sform-form #bt-1{
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color:#ff4e5c;
    color: white;
}
 #bt-2{
    border-radius: 6px;
    outline: none;
    width: 80%;
     margin-left: 10%;
     border: none;
}

#rlog{
     width: 80%;
     margin-left: 10%;
     text-align: center;
}
#lin{
    border: none;
    border-bottom: 2px solid grey;
    font-size: 16px;
    background-color: transparent;


}
#sform-form div{
    margin-left: 0px;
    text-align: center;
}
.idl{
 text-decoration: none;
  color: black;
}
