.mo-main{

    height: auto;
    width: 100%;
    padding-top:100px;
    
}
.mo-title{

    width: 80%;
    margin: auto;
    text-align: center;
}

.mo-details{
    width: 80%;
    margin: auto;
  
}
.mo-details>div{
    width: 50%;
    margin: auto;
    padding: 15px;
    background-color:rgb(190, 183, 183);
    border-radius: 12px;
}
.iniq{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color:rgb(190, 183, 183);
}