.mo-main{

    height: 100vh;
    background-color: rebeccapurple;
    width: 100%;
    padding-top:100px;
    
}
.mo-title{

    width: 80%;
    margin: auto;
    border: 1px solid red;
    text-align: center;
}

.mo-details{
    width: 80%;
    margin: auto;
    border: 1px solid yellow;
  
}
.mo-details>div{
    border: 1px solid green;
    width: 50%;
    margin: auto;


 
}
.iniq{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}