.productWrapper{
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 150px;
    margin-bottom: 100px;
   
}

.all-reviews-of-product{
    /* border: 1px solid black; */
      text-align: center;
    margin-top: 40px;
    border-radius: 9px;
    color: black;
    background-color: grey;
    font-size: 19px;
    padding-top: 15px;
    height: 40px;
    width: 100%;

}


.in-card{
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-evenly;
    height: 100vh;

    
}

.in-card .left-div{
    /* border: 1px solid black; */
    height: 500px;
    width: 400px;
}
.in-card .left-div img{
    width: 100%;
    height: 100%;
     object-fit: contain;
}
.in-card .right-div{
    margin-left: 10px;
    width: 500px;
    /* background-color: blue; */
    overflow-y: auto;
    

}
.in-card .right-div p{
    margin-left: 10px;
}

.in-card .btc-wrapper{
    display: flex;
}

.in-card .right-div .btc-wrapper .gtc-button button{

    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px;
    background-color: #ff4e5c;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

}

.btc-wrapper .gtw-button button{

    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px;
    border-color: #ff4e5c;
    color: black;
    cursor: pointer;
}


.addReviewButton button{

    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px;
    border-color: #ff4e5c;
    color: black;
    margin-top: 30px;
    cursor: pointer;

}

.allReviews{
    border: 1px solid grey;
    height: auto;
    width: auto;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(185, 184, 184);
    
    
}
.allReviews .user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    
  
   
}
.allReviews .user-image img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit:cover;
}
.userGivenReviews{
    margin-left: 5px;
    width: 90%;
    font-size: 14px;
}
.userGivenReviews .userName{
    margin-top: 5px ;
    display: flex;
    justify-content: space-between;
}



.reviewTitle{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.writeReview form{
     display: flex;
     flex-direction: column;
     margin: 10px;
}

.rf-review-form label{

      margin-bottom: 10px;
}
.rf-review-form input{
    padding: 10px;
    font-size: 16px;
    border-radius: 9px;
    outline: none;
    border: 1px solid grey;
}
#rt-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
#rt-feed{
    margin-top: 10px;
    margin-bottom: 10px;
}
.rf-review-form textarea{
    border-radius: 9px;
    padding: 5px;
    outline: none;
}

.rf-review-form button{

    padding: 10px;
    font-size: 16px;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #ff4e5c;
    color: white;
}
#htpd{
    margin-left: 10px;
    
}
